@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
  box-sizing: border-box;
}


.container {
  padding: 0;
  margin: 0;
  margin: auto;
  min-height: 100%;
  max-width: 900px;
  overflow: hidden;
  box-shadow: 0.02em 0.02em 1.5em #0005;
  background-color: black;
}

.program {
  outline: none;
  color: black;
}
